extends base

block content
    main.main
        .error
            h1.heading-secondary.heading-secondary--error(style="font-size: 10rem; font-weight: 900")= status
            .error__title
                h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong!   
                h2.error__emoji 😢 🤯
            .error__msg= msg